@mixin top-grid {
    grid-template-rows: 0.2132fr 0.0305fr 0.5635fr 0.1929fr;
}

@mixin left-grid {
    grid-template-columns: 0.2472fr 0.0472fr 0.4833fr 0.2222fr;
}

@mixin bottom-grid {
    grid-template-rows: 0.1929fr 0.5635fr 0.0305fr 0.2132fr;
}

@mixin right-grid {

    grid-template-columns: 0.2222fr 0.4833fr 0.0472fr 0.2472fr;
}

// Player Container Setup
[class^="player-container-"] {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../../static/assets/images/Borders/player-area.png');
        background-size: 100% 100%;
        z-index: -1;
    }
}

.player-container-1 {
    grid-area: player1;

    grid-template-areas: 
        "images name name ."
        "images . . ."
        "images . chips chips"
        ". . chips chips";
    @include left-grid();
    @include top-grid();
}

.player-container-2 {
    grid-area: player2;
    grid-template-areas: 
        ". name name images"
        ". . . images"
        "chips chips . images"
        "chips chips . .";
    @include right-grid();
    @include top-grid();

    &:before{
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
    }
}

.player-container-3 {
    grid-area: player3;
    grid-template-areas:
        ". . chips chips"
        "images . chips chips"
        "images . . ."
        "images name name .";
    @include left-grid();
    @include bottom-grid();
    
    &:before {
        transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
    }
}

.player-container-4 {
    grid-area: player4;
    grid-template-areas: 
        "chips chips . ."
        "chips chips . images"
        ". . . images"
        ". name name images";
    @include right-grid();
    @include bottom-grid();
    
    &:before {
        transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
    }
}

// Chip Area Setup
[class^='chipArea'] {
    grid-area: chips;
    width: 100%;
    height: 100%;
    position: relative;
    justify-self: end;
    background-color: rgba(lime, 0.2);

    display: flex;
    justify-content: space-between;
}

.chipArea_reverse {
    justify-self: start;
}

// // Player Images Setup
// .playerImageContainer {
//     grid-area: player;
//     height: 100%;
//     width: 100%;
//     position: relative;
//     background-color: rgba(blue, 0.2);
// }

// //Player Card Setup
// .playerCardContainer {
//     grid-area: card;
//     height: 100%;
//     width: 100%;
//     position: relative;
//     background-color: rgba(yellow, 0.2);
// }

.playerImagesWrapper {
    grid-area: images;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(blue, 0.2);
}

.playerName {
    grid-area: name;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(red, 0.2);
}
